*.xojo_uistate
*.debug.app
Update Test App/Builds - Kaju Update Test.xojo_project
DebugKaju Update Test.tar.gz
DebugKaju Admin.tar.gz
Kaju Admin App/Builds - Kaju Admin.xojo_project
Kaju Admin CLI/kaju.debug
Kaju Admin CLI/Builds - Kaju Admin CLI.xojo_project
*.gz
